{% extends 'base.html' %}

{% load static %} <!-- Load the static tag -->

{% block title %} Home {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" style="font-size: 32px; "href="{% url 'users:login' %}">Login</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Clinic</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Resources</a>
                    <a class="dropdown-item" href="#">Employees</a>
                    <a class="dropdown-item" href="#">Social Media</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="background-wrapper"

    <main role="main" class="container">
    <div class="jumbotron" style="margin-top: 50px; margin-right: 600px;">
        <div class="container">
            <h1 class="display-3">Loka Dental Clinic</h1>
            <h3>“For those who understand the profound implications of a beautiful smile, there is no turning back.”</h3>
            <p>At our dental clinic, we believe in the transformative power of a radiant smile. 
            A beautiful smile is not just a reflection of healthy teeth, but a beacon of confidence, positivity, and well-being. 
            It is the universal language of joy, the key to making unforgettable first impressions, and a symbol of the vitality 
            within</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: rgb(62, 180, 137);">Explore our products &raquo;</a>
            </p>
            
        </div>
    </div>

    <div class="container" style="margin-left: 50px; margin-top: 30px;">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Dental Exams and Cleanings</h2>
                <p>Routine check-ups for assessing overall oral health, cleaning teeth to remove plaque and tartar, and polishing 
                    </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Dental Crowns and Bridges</h2>
                <p>Prosthetic devices fixed onto existing teeth or implants to cover a damaged tooth or replace a missing tooth, respectively. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Dental Implants</h2>
                <p>Surgical component that interfaces with the bone of the jaw to support a dental prosthesis such as a crown, bridge, denture

                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container" style="margin-top: 100px; margin-left: 50px;">
    <p>&copy; Clinic 2020 - now</p>
</footer>

</div>
{% endblock %}

