{% load static %}
{% comment %} {% load url %} {% endcomment %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{% static 'users/login.css' %}">
</head>
<body>
	<section class="vh-100">
		<div class="container">
			<div class="card">
				<div class="card-img-container">
					<img src="{% static 'pics/ethereum_logo.jpg' %}" alt="login form">
				</div>
				<div class="card-body-container">
					<div class="card-body">
						<form method="post">
							{% csrf_token %}

							<div class="logo-container">
								<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
								<span class="h1 fw-bold mb-0" style="font-size: 1.5em; font-weight: bold;">Welcome to Ethereum World</span>
							</div>

							<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

							<div class="form-outline">
								<input type="email" id="id_username" name="username" class="form-control form-control-lg">
								<label class="form-label" for="id_username">Email address</label>
							</div>

							<div class="form-outline">
								<input type="password" id="id_password" name="password" class="form-control form-control-lg">
								<label class="form-label" for="id_password">Password</label>
							</div>

							<div class="pt-1 mb-4">
								<button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
							</div>
							<div class="form-check mb-3">
								<input class="form-check-input" type="checkbox" id="remember" name="remember">
								<label class="form-check-label" for="remember">
									Remember me
								</label>
							</div>
							<a class="small text-muted" href="#!">Forgot password?</a>
							<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register/" style="color: #393f81;">Register here</a></p>
							<a href="#!" class="small text-muted">Terms of use.</a>
							<a href="#!" class="small text-muted">Privacy policy</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="{% static 'users/login.js' %}"></script>
</body>
</html>
